<div class="container">
  <div class="cards">
    <ng-container *ngIf="users$ | async">
      <mat-card *ngFor="let user of users$ | async">
        <mat-card-title>
          <a (click)="onEdit()">
            <mat-icon>edit</mat-icon>
          </a>
          {{user.username}}</mat-card-title>
        <mat-card-content>
          <article>
              Enrollment_id : {{user.enroll_id}}<br>
              City : {{user.address}}
          </article>
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</div>